<!-- tu-componente.component.html -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-searchbar placeholder="¿Qué queres pedir?" [(ngModel)]="filtro"></ion-searchbar>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let categoria of categorias">
      <ion-label>
        <h2>{{ categoria.nombre }}</h2>

        <div *ngIf="categoria.productos.length > 0; else noProductos">
          <ion-card *ngFor="let producto of categoria.productos | filterProductos:filtro">
            <!-- Usa routerLink para navegar a la ruta deseada -->
            <ion-card [routerLink]="['/productos', producto.nombre]" [ngClass]="{ 'clase-condicional': condicion }">
              <img [src]="producto.imagen" alt="{{ producto.nombre }}" />
              <ion-card-header>
                <ion-card-title>{{ producto.nombre }}</ion-card-title>
                <ion-card-subtitle>${{ producto.precio }}</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                {{ producto.descripcion }}
              </ion-card-content>
            </ion-card>
          </ion-card>
        </div>

        <ng-template #noProductos>
          <p>No hay productos disponibles.</p>
        </ng-template>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
  


